/*
 Custom styles 
*/
#map {
  height: 100vh;
  width: 100%;
}
/*  user.css */

.pagination-holder {
    text-align: center;
    margin: 5px;
}
.pagination-holder ul {
    font-size: 1.1em;
}
.pagination .active > a,
.pagination .active > a:hover,
.pagination .active > a:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #94a5a6;
    border-color: #94a5a6;
}
.pagination>li>a,
.pagination>li>span {
    color: #6b6a6b;
}

.password-field span {
    display: none;
}
.password-field::after {
    content: '***********';
}