<div class="row">
    <div class="col-md-12">
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i>Students
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group pull-right">
                                <button id="sample_editable_1_new" class="btn green" data-ng-click="vm.openModal()">
                                    Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataTables_wrapper no-footer">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="">
                                <label>
                                    <select name="perPage" aria-controls="perPage" class="form-control input-xsmall input-inline" ng-model="vm.pagination.itemsPerPage">
                                        <option value="5">5</option>
                                        <option value="15">10</option>
                                        <option value="20">20</option>
                                        <option value="-1">50</option>
                                    </select> records</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class=" pull-right">
                                <label>Search:
                                    <input type="search" class="form-control input-small input-inline" placeholder="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Password
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in vm.users.slice(((vm.pagination.currentPage-1)*vm.pagination.itemsPerPage), ((vm.pagination.currentPage)*vm.pagination.itemsPerPage))">
                                    <td>{{user.id}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td class="password-field" password-field>
                                        <span ng-bind="user.lastName"></span>
                                    </td>
                                    <td>{{user.status}}</td>
                                    <td>{{user.email}}</td>
                                    <td>Edit</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination-holder">
                            <pagination max-size="5" total-items="vm.pagination.totalItems" ng-model="vm.pagination.currentPage" ng-change="pageChanged()" class="pagination-md"
                                items-per-page="vm.pagination.itemsPerPage" rotate="false" force-ellipses="true"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>